* {
    font-family: 'Mukta', sans-serif;
    font-family: 'Oswald', sans-serif;  
}

.bg-img-cinema {
    background-image: url("./assets/img/cinema_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vh-70 {
    height: 70vh;
}

.fs-large {
    font-size: 4rem;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}